extends partials/layout.pug

block content
    h1.title About Me
    img.about(src="/images/gommb.png" alt="gommb")

    p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed scelerisque purus ac ullamcorper porttitor. Cras sit amet ante libero. Integer convallis eleifend mauris eu convallis. Ut et erat ac metus sollicitudin scelerisque. Duis luctus, nisl non dignissim vestibulum, neque metus tempus magna, in lacinia libero quam rutrum ex. Donec ut efficitur nulla. Nam vitae nisl sapien. Mauris viverra dui at fermentum auctor. Maecenas id justo ac lectus sollicitudin auctor. Maecenas rhoncus turpis in eros efficitur, sit amet porttitor eros porta. Cras iaculis eros dui, ut imperdiet nibh ullamcorper quis.
        | Etiam ultrices enim at tortor consequat, et dictum libero ullamcorper. Maecenas dapibus feugiat arcu. Morbi elementum nisl ac felis tincidunt, sit amet fermentum risus vehicula. Ut elementum nisi at purus imperdiet, non porttitor dolor elementum. Nulla sit amet leo mauris. In mattis dignissim eros, sit amet volutpat ante ultricies ac. Nulla eget viverra lacus, eget convallis nibh. Sed tincidunt urna tortor, at pellentesque eros fermentum consequat.