extends partials/layout.pug

block content
    h1.title Forgot Password
    if msg
        .alert.alert-dismissible.fade.show(class=success ? 'alert-success' : 'alert-danger')= msg
            button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                span(aria-hidden="true") &times;

    form(action='/users/forgot' method='POST')
        .form-group
            label(for='email') Email address
            input.form-control#email(type='text' name='email' placeholder='Email' required)
        button.btn.btn-primary(type='submit') Send
