extends partials/layout.pug

block content
    h1.title Reset Password
    if errors
        each error in errors
            .alert.alert-danger.alert-dismissible.fade.show= error.msg
                button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                    span(aria-hidden="true") &times;

    form(action='/users/resetPassword' method='POST')
        .form-group
            label(for='password') New Password
            input.form-control#password(type='password' name='password' placeholder='Password' required)
        .form-group
            label(for='cpass') Confirm Password
            input.form-control#cpass(type='password' name='cpass' placeholder='Confirm Password' required)
        input(type='hidden' name='key' value=key)
        input(type='hidden' name='id' value=id)
        button.btn.btn-primary(type='submit') Reset
